- content_for :title, @<%= resource_name %>.to_label
= form_for @<%= resource_name %>, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    %legend
      = t(:".#{controller.action_name}.title", :default => "#{controller.action_name.capitalize} <%= model_name.sub(/^::/, '').humanize %>")
    <%- columns.each do |column| -%>
    .control-group
      = f.label :<%= column.name %>, :class => 'control-label'
      .controls
        = f.<%= column.field_type %> :<%= column.name %>, :class => '<%= column.field_type %>'
    <%- end -%>
    .form-actions
      = f.submit :class => 'btn btn-primary'
      = link_to t("helpers.cancel", :default => "Cancel"), <%= controller_routing_path %>_path, :class => 'btn'
