- content_for :title, @<%= resource_name %>.to_label
<%- columns.each do |column| -%>
%p
  %strong= t("activerecord.attributes.<%= singular_controller_routing_path %>.<%= column.name %>", :default => t("activerecord.labels.<%= column.name %>", :default => "<%= column.name.humanize %>")) + ":"
  %br
  = @<%= resource_name %>.<%= column.name %>
<%- end -%>

.form-actions
  = link_to t(".back", :default => [:"resource.back", "Back"]), <%= controller_routing_path %>_path, :class => 'btn'
  = link_to t(".edit", :default => [:"resource.edit", "Edit"]), edit_<%= singular_controller_routing_path %>_path(@<%= resource_name %>), :class => 'btn'
  = link_to t(".destroy", :default => [:"resource.destroy", "Destroy"]), <%= singular_controller_routing_path %>_path(@<%= resource_name %>), :method => "delete", :confirm => "#{t(".destroy_confirm", :default => [:"resource.destroy_confirm", "Are you sure?"])}", :class => 'btn btn-danger'
